In [1]:
import pandas as pd

In [2]:
path='C:/Users/Gaurav/Documents/Python Scripts/'

In [108]:
Sales=pd.read_csv(path+'Sales.tsv', sep='\t',encoding='utf-8',header=None)

In [111]:
Sales.head()

        0     1                                         2      3
0  920314  r535                              {'rock': 49}  kz620
1  889178  z262                 {'paper': 10, 'rock': 41}  fu215
2    8865  z248                             {'paper': 38}  de790
3  327260  x446  {'scissor': 25, 'paper': 43, 'rock': 49}  qs103
4  944594  u224                             {'paper': 18}  kr995

In [205]:
Sales.columns=['Invoice_ID','Customer_ID','Item_Summary','Batch_ID']

In [208]:
def unpack(df, column):
    df[column]=df[column].apply(lambda x : dict(eval(x)))
    new_df=df[column].apply(pd.Series)
    result = pd.concat([df,new_df], axis=1).drop(column, axis=1)
    return result

In [209]:
New_Sales=unpack(Sales,'Item_Summary')

In [210]:
New_Sales.head()

   Invoice_ID Customer_ID Batch_ID  paper  rock  scissor
0      920314        r535    kz620    NaN  49.0      NaN
1      889178        z262    fu215   10.0  41.0      NaN
2        8865        z248    de790   38.0   NaN      NaN
3      327260        x446    qs103   43.0  49.0     25.0
4      944594        u224    kr995   18.0   NaN      NaN

In [107]:
New_Sales.columns

Index(['Invoice_ID', 'Customer_ID', 'Batch_ID', 'paper', 'rock', 'scissor'], dtype='object')

In [38]:
Prod_logs=pd.read_csv(path+'Production_logs.tsv', sep='\t',encoding='utf-8',header=None)

In [55]:
Prod_logs.head()

,Prod_Unit_ID,Batch_ID,Items_Produced,Items_Discarded
0,P188,gv962,"{'scissor': 141, 'paper': 274, 'rock': 218}","{'scissor': 14, 'paper': 135, 'rock': 24}"
1,P258,mr005,"{'scissor': 151, 'paper': 143, 'rock': 225}","{'scissor': 24, 'paper': 60, 'rock': 17}"
2,P986,um425,"{'scissor': 156, 'paper': 151, 'rock': 84}","{'scissor': 61, 'paper': 116, 'rock': 28}"
3,P631,fy268,"{'scissor': 91, 'paper': 203, 'rock': 161}","{'scissor': 23, 'paper': 17, 'rock': 9}"
4,P675,jq381,"{'scissor': 85, 'paper': 226, 'rock': 223}","{'scissor': 57, 'paper': 141, 'rock': 118}"

In [40]:
Prod_logs.columns=['Prod_Unit_ID','Batch_ID','Items_Produced','Items_Discarded']

In [53]:
Prod_logs['Items_Produced']=Prod_logs['Items_Produced'].apply(lambda x : dict(eval(x)))

In [58]:
Prod_items_produced=Prod_logs['Items_Produced'].apply(pd.Series)

In [104]:
len(Prod_logs)

1988

In [61]:
Prod_items_produced.columns=['Items_produced_Paper','Items_produced_Rock','Items_produced_Scissor']

In [62]:
Prod_logs['Items_Discarded']=Prod_logs['Items_Discarded'].apply(lambda x : dict(eval(x)))
Prod_items_discarded=Prod_logs['Items_Discarded'].apply(pd.Series)

In [63]:
Prod_items_discarded.head()

   paper  rock  scissor
0    135    24       14
1     60    17       24
2    116    28       61
3     17     9       23
4    141   118       57

In [65]:
Prod_items_discarded.columns=['Items_discarded_Paper','Items_discarded_Rock','Items_discarded_Scissor']

In [67]:
New_Prod_Logs=pd.concat([Prod_logs,Prod_items_produced,Prod_items_discarded], axis=1).drop(['Items_Produced','Items_Discarded'], axis=1)

In [68]:
 New_Prod_Logs.head()

,Prod_Unit_ID,Batch_ID,Items_produced_Paper,Items_produced_Rock,Items_produced_Scissor,Items_discarded_Paper,Items_discarded_Rock,Items_discarded_Scissor
0,P188,gv962,274,218,141,135,24,14
1,P258,mr005,143,225,151,60,17,24
2,P986,um425,151,84,156,116,28,61
3,P631,fy268,203,161,91,17,9,23
4,P675,jq381,226,223,85,141,118,57

In [73]:
Complaints=pd.read_csv(path+'Complaints.tsv', sep='\t',encoding='utf-8',header=None)

In [77]:
Complaints.head()

   Invoice_Id Defective_Item
0      920314           rock
1      327260           rock
2      944594          paper
3      438539          paper
4      917462           rock

In [75]:
len(Complaints)

3318

In [76]:
Complaints.columns=['Invoice_Id','Defective_Item']

In [143]:
Sales_Complaints=pd.merge(New_Sales,Complaints,how='inner',left_on='Invoice_ID',right_on='Invoice_Id',left_index=False, right_index=False)

In [144]:
Sales_Complaints.head()

,Invoice_ID,Customer_ID,Batch_ID,paper,rock,scissor,Invoice_Id,Defective_Item
0,920314,r535,kz620,NaN,49.0,NaN,920314,rock
1,327260,x446,qs103,43.0,49.0,25.0,327260,rock
2,944594,u224,kr995,18.0,NaN,NaN,944594,paper
3,438539,z350,ht985,18.0,NaN,32.0,438539,paper
4,917462,w415,gj318,NaN,34.0,NaN,917462,rock

In [145]:
Prod_Sales_Complaints=pd.merge(New_Prod_Logs,Sales_Complaints,how='inner',on='Batch_ID')

In [146]:
Prod_Sales_Complaints.head()

,Prod_Unit_ID,Batch_ID,Items_produced_Paper,Items_produced_Rock,Items_produced_Scissor,Items_discarded_Paper,Items_discarded_Rock,Items_discarded_Scissor,Invoice_ID,Customer_ID,paper,rock,scissor,Invoice_Id,Defective_Item
0,P188,gv962,274,218,141,135,24,14,576796,y954,25.0,44.0,33.0,576796,scissor
1,P986,um425,151,84,156,116,28,61,657990,z795,NaN,NaN,20.0,657990,scissor
2,P631,fy268,203,161,91,17,9,23,863873,i325,34.0,NaN,NaN,863873,paper
3,P631,fy268,203,161,91,17,9,23,45243,y438,50.0,21.0,21.0,45243,paper
4,P631,fy268,203,161,91,17,9,23,689768,a357,3.0,43.0,9.0,689768,rock

In [148]:
Prod_Sales_Complaints=Prod_Sales_Complaints.fillna(0)

In [149]:
Prod_Sales_Complaints[Prod_Sales_Complaints.Prod_Unit_ID=='P188']

,Prod_Unit_ID,Batch_ID,Items_produced_Paper,Items_produced_Rock,Items_produced_Scissor,Items_discarded_Paper,Items_discarded_Rock,Items_discarded_Scissor,Invoice_ID,Customer_ID,paper,rock,scissor,Invoice_Id,Defective_Item
0,P188,gv962,274,218,141,135,24,14,576796,y954,25.0,44.0,33.0,576796,scissor
433,P188,fm361,247,343,348,5,57,9,208122,f598,0.0,0.0,40.0,208122,scissor
434,P188,fm361,247,343,348,5,57,9,478728,e102,0.0,39.0,0.0,478728,rock
435,P188,fm361,247,343,348,5,57,9,503283,m628,21.0,42.0,4.0,503283,rock
436,P188,fm361,247,343,348,5,57,9,127250,c263,29.0,0.0,0.0,127250,paper
437,P188,fm361,247,343,348,5,57,9,862250,f421,33.0,5.0,0.0,862250,paper
2424,P188,hl280,248,184,79,88,96,11,762199,h989,0.0,33.0,8.0,762199,scissor
2425,P188,hl280,248,184,79,88,96,11,640863,f465,0.0,0.0,19.0,640863,scissor
2426,P188,hl280,248,184,79,88,96,11,287387,a210,0.0,6.0,0.0,287387,rock
3294,P188,km134,178,277,185,7,85,11,109505,t233,15.0,0.0,0.0,109505,paper

In [165]:
New_df=Prod_Sales_Complaints.groupby(['Prod_Unit_ID'])['paper','rock','scissor'].apply(lambda x : x.astype(int).sum())

In [166]:
New_df.head()

              paper  rock  scissor
Prod_Unit_ID
P000            164   168      149
P001            112   131      111
P002            263   133      236
P003             32    34       49
P004            134   201      237

In [167]:
New_df[New_df.index.get_level_values('Prod_Unit_ID')=='P188']

              paper  rock  scissor
Prod_Unit_ID
P188            123   169      104

In [169]:
New_df.head()

              paper  rock  scissor
Prod_Unit_ID
P000            164   168      149
P001            112   131      111
P002            263   133      236
P003             32    34       49
P004            134   201      237

In [170]:
New_df=New_df.add_suffix('_Sum').reset_index()

In [175]:
New_df_prod=New_Prod_Logs.groupby(['Prod_Unit_ID'])['Items_produced_Paper','Items_produced_Rock',
                                                            'Items_produced_Scissor','Items_discarded_Paper',
                                                            'Items_discarded_Rock','Items_discarded_Scissor'].apply(lambda x : x.astype(int).sum())

In [176]:
New_df_prod=New_df_prod.add_suffix('_Sum').reset_index()

In [191]:
Report1=pd.merge(New_df_prod,New_df,on='Prod_Unit_ID',how='inner')

In [192]:
Report1.head()

,Prod_Unit_ID,Items_produced_Paper_Sum,Items_produced_Rock_Sum,Items_produced_Scissor_Sum,Items_discarded_Paper_Sum,Items_discarded_Rock_Sum,Items_discarded_Scissor_Sum,paper_Sum,rock_Sum,scissor_Sum
0,P000,1021,1056,822,377,391,173,164,168,149
1,P001,552,766,807,93,140,322,112,131,111
2,P002,974,1011,1113,151,388,415,263,133,236
3,P003,134,40,231,73,3,21,32,34,49
4,P004,1164,1476,1020,311,431,196,134,201,237

In [193]:
Report1['rock']=((Report1.rock_Sum+Report1.Items_discarded_Rock_Sum)/Report1.Items_produced_Rock_Sum)*100

In [194]:
Report1['paper']=((Report1.paper_Sum+Report1.Items_discarded_Paper_Sum)/Report1.Items_produced_Paper_Sum)*100

In [195]:
Report1['scissor']=((Report1.scissor_Sum+Report1.Items_discarded_Scissor_Sum)/Report1.Items_produced_Scissor_Sum)*100

In [196]:
Report1.head()

,Prod_Unit_ID,Items_produced_Paper_Sum,Items_produced_Rock_Sum,Items_produced_Scissor_Sum,Items_discarded_Paper_Sum,Items_discarded_Rock_Sum,Items_discarded_Scissor_Sum,paper_Sum,rock_Sum,scissor_Sum,rock,paper,scissor
0,P000,1021,1056,822,377,391,173,164,168,149,52.935606,52.987267,39.172749
1,P001,552,766,807,93,140,322,112,131,111,35.378590,37.137681,53.655514
2,P002,974,1011,1113,151,388,415,263,133,236,51.533136,42.505133,58.490566
3,P003,134,40,231,73,3,21,32,34,49,92.500000,78.358209,30.303030
4,P004,1164,1476,1020,311,431,196,134,201,237,42.818428,38.230241,42.450980

In [198]:
Report1_final=Report1[['Prod_Unit_ID','rock','paper','scissor']]

In [199]:
Report1_final=pd.melt(Report1_final,id_vars=["Prod_Unit_ID"], 
                 var_name="Item", value_name="Defect %")

In [202]:
Report1_final.sort('Prod_Unit_ID')

C:\Users\Gaurav\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

     Prod_Unit_ID     Item   Defect %
0            P000     rock  52.935606
960          P000  scissor  39.172749
480          P000    paper  52.987267
1            P001     rock  35.378590
961          P001  scissor  53.655514
481          P001    paper  37.137681
2            P002     rock  51.533136
962          P002  scissor  58.490566
482          P002    paper  42.505133
3            P003     rock  92.500000
963          P003  scissor  30.303030
483          P003    paper  78.358209
964          P004  scissor  42.450980
484          P004    paper  38.230241
4            P004     rock  42.818428
485          P006    paper  45.345345
5            P006     rock  60.633484
965          P006  scissor  26.033058
486          P007    paper  57.538995
6            P007     rock  25.907591
966          P007  scissor  49.387040
487          P008    paper  55.137964
7            P008     rock  53.752345
967          P008  scissor  40.269917
488          P009    paper  44.617913
968          P009  scissor  20.805998
8            P009     rock  41.592920
969          P012  scissor  26.190476
489          P012    paper  28.455285
9            P012     rock  22.222222
...           ...      ...        ...
950          P986    paper  29.155556
470          P986     rock  33.710590
1430         P986  scissor  42.361111
951          P987    paper  35.661080
471          P987     rock  33.795309
1431         P987  scissor  45.649264
1432         P990  scissor  64.602804
952          P990    paper  49.932886
472          P990     rock  44.282511
473          P992     rock  57.161981
1433         P992  scissor  46.666667
953          P992    paper  40.117130
1434         P993  scissor  32.934132
474          P993     rock  22.006472
954          P993    paper  73.234201
475          P994     rock  70.557029
955          P994    paper  43.543544
1435         P994  scissor  39.897698
956          P995    paper  55.194124
1436         P995  scissor  48.921680
476          P995     rock  41.339001
957          P996    paper  34.673367
1437         P996  scissor  40.086207
477          P996     rock  48.016701
1438         P998  scissor  37.817259
478          P998     rock  45.758929
958          P998    paper  57.407407
959          P999    paper  38.040346
479          P999     rock  26.239420
1439         P999  scissor  40.035482

[1440 rows x 3 columns]